*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-header {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
}
.promo {
  margin: 50px 0;
}
.cards {
  margin: 50px 0;
=======
>>>>>>> parent of 7b90e94... создал промо-блог
=======
>>>>>>> parent of 7b90e94... создал промо-блог
}